<ion-content padding>
  <h4 center text-center id="setuplabel"> Make a New List </h4>


  <ion-row align-items-center>
    <ion-item>
      <ion-input name="new-item" type="text" placeholder="New Item..." [(ngModel)]="newItemValue" (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-row>

  <ion-item-divider color="light" *ngIf="list.length!=0">New List</ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let item of list">
      {{ item }}
      <button ion-button outline item-right (click)="removeListItem(item)">Remove</button>
    </ion-item>
  </ion-list>
  <div text-center><button id="savebutton" style="margin: 0 !important;" ion-button (click)="activateList()"> Create </button></div>
  <br>






  <div *ngIf="(buyerLists | async)?.length!=0">
    <hr>
    <h4 center text-center id="setuplabel"> Active Lists </h4>

    <ion-grid>
      <ion-row wrap>
        <div class="divList" *ngFor="let list of (buyerLists | async); index as i; odd as isOdd; even as isEven" (click)="viewBuyerList(list)">
          <ion-col *ngIf="isEven">
            <ion-card>
              <ion-item>
                <h2>{{ list.nameForCard }}</h2>
                <button ion-button outline item-right (click)="removeBuyerList(list) ">Remove</button>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="isOdd">
            <ion-card>
              <ion-item>
                <h2>{{ list.nameForCard }}</h2>
                <button ion-button outline item-right (click)="removeBuyerList(list) ">Remove</button>
              </ion-item>
            </ion-card>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>
