<ion-content padding>
  <h6 center text-center id="setuplabel"> Make a New List </h6>


  <ion-row align-items-center>
    <ion-col>
      <ion-item>
        <ion-input autofocus #itemInput id="item-input" name="new-item" type="text" [placeholder]="placeholderText" [(ngModel)]="newItemValue" (keyup.enter)="addItem(itemInput)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-auto>
      <button ion-button (click)="addItem(itemInput)" [disabled]="!newItemValue">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

  <ion-item-divider color="light" *ngIf="listName">List Title: {{listName}}</ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let item of list; let i = index">
      {{i+1}}. {{item}}
      <button ion-button outline item-right (click)="removeListItem(item)">Remove</button>
    </ion-item>
  </ion-list>
  <div text-center><button id="savebutton" style="margin: 0 !important;" ion-button [disabled]="list.length <= 0 && (listName !== undefined || listName !== '')"
      (click)="activateList()"> Create </button></div>
  <br>





  <!-- Active Lists HERE -->
  <div *ngIf="buyerLists.length!=0">
    <hr>
    <h6 center text-center id="setuplabel"> Active Lists </h6>

    <ion-grid>
      <ion-row wrap>
        <ion-col>
          <ion-card *ngFor="let list of buyerLists" (click)="viewBuyerList(list)">
            <ion-item>
              <h2>{{ list.title }}</h2>
              <button ion-button outline item-right (click)="removeBuyerList(list)">Remove</button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Need Approval Lists HERE -->
  <div *ngIf="waitingLists.length!=0">
    <hr>
    <h4 center text-center id="setuplabel"> Need Approval... </h4>

    <ion-grid>
      <ion-row wrap>
        <ion-col>
          <ion-card *ngFor="let list of waitingLists" (click)="viewBuyerList(list)">
            <ion-item>
              <h2>{{ list.title }}</h2>
              <button ion-button outline item-right>Remove</button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Progress Lists HERE -->
  <div *ngIf="inProgressLists.length!=0">
    <hr>
    <h4 center text-center id="setuplabel"> In Progress... </h4>

    <ion-grid>
      <ion-row wrap>
        <ion-col>
          <ion-card *ngFor="let list of inProgressLists" (click)="viewBuyerList(list)">
            <ion-item>
              <h2>{{ list.title }}</h2>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Progress Lists HERE -->
  <div *ngIf="completedLists.length!=0">
    <hr>
    <h4 center text-center id="setuplabel"> Delivery! </h4>

    <ion-grid>
      <ion-row wrap>
        <ion-col>
          <ion-card *ngFor="let list of completedLists" (click)="viewBuyerList(list)">
            <ion-item>
              <h2>{{ list.title }}</h2>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>




</ion-content>
