#setuplabel {
  font-size: 40px;
  margin-bottom: 10px;
}

#savebutton {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 200px;
  height: 60px;
  font-size: 24px;
}

.profile-img {
  position: relative;
  width: 100px !important;
  height: 100px !important;
  z-index: 1;
}

.spinner-img {
  text-align: center;
  ion-spinner {
    height: 50px;
    width: 50px;
  }
  p {
    position: absolute;
    bottom: 0px;
  }
}
