<!--
  Generated template for the BuyerList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>{{ nameForUser }}'s List</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
                    <ion-icon name="md-close"></ion-icon>
                </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- Active List Content -->
  <div *ngIf="(listeningListStatusData | async).$value==1">
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  </div>


  <!-- List Needing Approval -->
  <div *ngIf="(listeningListStatusData | async).$value==2">
    <ion-card>
      <ion-item *ngIf="(shopper | async) as shopperUser">
        <ion-avatar item-left>
          <img *ngIf="(shopper | async)?.image as imageUrl; else missingPhotoTemplate" [src]="imageUrl" alt="Missing Photo">
          <ng-template #missingPhotoTemplate>
            <img src="assets/images/missing_photo.png" alt="Missing Photo">
          </ng-template>
        </ion-avatar>
        <h1>{{ shopperUser?.name }}</h1>
        <h3>{{ shopperUser?.phone }}</h3>
        <h3 style="text-decoration: underline;">Shopper Rating</h3>
        <rating [(ngModel)]="shopperUser && shopperUser.shopperRating" [float]="true" [readonly]="true"></rating><span>{{shopperUser?.shopperRating | number : '1.1-1'}}</span>
        <br>
      </ion-item>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
    <button ion-button (click)="confirmShopper()">
      Confirm
    </button>
  </div>



  <!-- List In Progress -->
  <div *ngIf="(listeningListStatusData | async).$value==3">
    <ion-card>
      <ion-item *ngIf="(shopper | async) as shopperUser">
        <ion-avatar item-left>
          <img *ngIf="(shopper | async)?.image as imageUrl; else missingPhotoTemplate" [src]="imageUrl" alt="Missing Photo">
          <ng-template #missingPhotoTemplate>
            <img src="assets/images/missing_photo.png" alt="Missing Photo">
          </ng-template>
        </ion-avatar>
        <h1>{{ shopperUser?.name }}</h1>
        <h3>{{ shopperUser?.phone }}</h3>
        <h3 style="text-decoration: underline;">Shopper Rating</h3>
        <rating [(ngModel)]="shopperUser && shopperUser.shopperRating" [float]="true" [readonly]="true"></rating><span>{{shopperUser?.shopperRating | number : '1.1-1'}}</span>
        <br>
      </ion-item>
    </ion-card>

    <ion-list>
      <h3>Items Left</h3>
      <ion-item *ngFor="let item of itemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <h3>Items Picked Up</h3>
      <ion-item *ngFor="let item of purchasedItemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Delivery Confirm -->
  <div *ngIf="(listeningListStatusData | async).$value==4">
    <ion-card>
      <ion-item *ngIf="(shopper | async) as shopperUser">
        <ion-avatar item-left>
          <img *ngIf="(shopper | async)?.image as imageUrl; else missingPhotoTemplate" [src]="imageUrl" alt="Missing Photo">
          <ng-template #missingPhotoTemplate>
            <img src="assets/images/missing_photo.png" alt="Missing Photo">
          </ng-template>
        </ion-avatar>
        <h1>{{ shopperUser?.name }}</h1>
        <h3>{{ shopperUser?.phone }}</h3>
        <h3 style="text-decoration: underline;">Shopper Rating</h3>
        <rating [(ngModel)]="shopperUser && shopperUser.shopperRating" [float]="true" [readonly]="true"></rating><span>{{shopperUser?.shopperRating | number : '1.1-1'}}</span>
        <br>
      </ion-item>
    </ion-card>

    <ion-list>
      <h3>Items Left</h3>
      <ion-item *ngFor="let item of itemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <h3>Items Picked Up</h3>
      <ion-item *ngFor="let item of purchasedItemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>

    <br>

    <ion-row align-items-center>
      <h3>Subtotal: ${{ (subtotal | async).$value }}</h3>
      <ion-item>
        <ion-input name="listTip" type="number" placeholder="Tip: $0.00" [(ngModel)]="tip"></ion-input>
      </ion-item>
    </ion-row>
    <button ion-button [disabled]="tip<0" (click)="confirmDelivery()">Confirm</button>
  </div>


  <!-- Review Shopper -->
  <div *ngIf="(listeningListStatusData | async).$value==5">
    <ion-card>
      <ion-item *ngIf="(shopper | async) as shopperUser">
        <ion-avatar item-left>
          <img *ngIf="(shopper | async)?.image as imageUrl; else missingPhotoTemplate" [src]="imageUrl" alt="Missing Photo">
          <ng-template #missingPhotoTemplate>
            <img src="assets/images/missing_photo.png" alt="Missing Photo">
          </ng-template>
        </ion-avatar>
        <h1>{{ shopperUser?.name }}</h1>
        <h3>{{ shopperUser?.phone }}</h3>
        <h3 style="text-decoration: underline;">Shopper Rating</h3>
        <rating [(ngModel)]="shopperUser && shopperUser.shopperRating" [float]="true" [readonly]="true"></rating><span>{{shopperUser?.shopperRating | number : '1.1-1'}}</span>
        <br>
      </ion-item>
    </ion-card>

    <ion-grid>
      <ion-row align-items-center justify-content-center>
          <h1>Leave a review</h1>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <textarea rows="4" placeholder="Write a review..." style="width: 100%" [(ngModel)]="tempReview"></textarea>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <rating [(ngModel)]="tempRating" [float]="true"></rating>
        <span id="rating-num">{{tempRating | number : '1.1-1'}}/5.0</span>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <button ion-button (click)="submitReview()">Submit</button>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <span style="color:red">{{reviewError}}</span>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
