<!--
  Generated template for the ListForShopperModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ (buyer | async)?.name }}'s List: {{list.title}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
                    <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="!blacklisted && (buyer | async) as buyerUser" (click)="displayReviews('buyer')">
    <ion-item>
      <ion-avatar item-left>
        <img *ngIf="buyerUser?.image as imageUrl; else missingPhotoTemplate" [src]="imageUrl" alt="Missing Photo">
        <ng-template #missingPhotoTemplate>
          <img src="assets/images/missing_photo.png" alt="Missing Photo">
        </ng-template>
      </ion-avatar>
      <h1>{{ buyerUser?.name }}</h1>
      <h3>{{ buyerUser?.phone }}</h3>
      <h3>{{ buyerUser?.address }}</h3>
      <h3 style="text-decoration: underline;">Buyer Rating</h3>
    </ion-item>
    <div text-center>
      <rating [(ngModel)]="buyerUser && buyerUser.buyerRating" [float]="true" [readonly]="true"></rating><span>{{buyerUser?.buyerRating | number : '1.1-1'}}</span>
    </div>
  </ion-card>

  <!-- Blacklisted Shopper View -->
  <div *ngIf="blacklisted">
    <h3 text-center>Sorry, Looks Like The Buyer Chose Another Shopper</h3>
  </div>


  <!-- Confirm You Want to Shop HERE -->
  <div *ngIf="(listeningListStatusData | async).$value==1 && !blacklisted">

    <ion-list>
      <ion-item *ngFor="let item of itemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>
    <button ion-button (click)="readyToShop()">
      Confirm
    </button>
  </div>


  <!-- Waiting to Shop HERE -->
  <div *ngIf="(listeningListStatusData | async).$value==2 && !blacklisted">
    <br>
    <h3>Waiting for Buyer Confirmation...</h3>
    <ion-list>
      <ion-item *ngFor="let item of itemsForDisplay">
        {{ item.$value }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Actively Shopping HERE -->
  <div *ngIf="(listeningListStatusData | async).$value==3">
    <ion-list>
      <ion-item *ngFor="let item of itemsForDisplay">
        {{ item.$value }}
        <button ion-button item-right clear icon-only (click)="addToPurchased(item)">
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let purchasedItem of purchasedItemsForDisplay">
        {{ purchasedItem.$value }}
        <button ion-button item-right clear icon-only (click)="removeFromPurchased(purchasedItem)">
        <ion-icon name="md-checkbox"></ion-icon>
      </button>
      </ion-item>
    </ion-list>

    <div *ngIf="itemsForDisplay.length==0">
      <ion-row align-items-center>
        <h3>Subtotal:</h3>
        <ion-item>
          <ion-input name="listPrice" type="number" placeholder="0.00" [(ngModel)]="price"></ion-input>
        </ion-item>
      </ion-row>
      <button ion-button [disabled]="!price" (click)="confirmShoppingComplete()">Confirm</button>
    </div>

  </div>

  <!-- Waiting For Payment HERE -->
  <div *ngIf="(listeningListStatusData | async).$value==4">
    <h1>Waiting for Payment...</h1>

    <br>

    <ion-grid *ngIf="!hasReviewed">
      <ion-row align-items-center justify-content-center>
        <h1>Leave a review</h1>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <textarea rows="4" placeholder="Write a review..." style="width: 100%" [(ngModel)]="tempReview"></textarea>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <rating [(ngModel)]="tempRating" [float]="true"></rating>
        <span id="rating-num">{{tempRating | number : '1.1-1'}} / 5.0</span>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <button ion-button (click)="submitReview()">Submit</button>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <span style="color:red">{{reviewError}}</span>
      </ion-row>
    </ion-grid>
    <h1 *ngIf="hasReviewed">Review Submitted!</h1>

  </div>

  <br>

  <!-- Complete with payment HERE -->
  <div *ngIf="(listeningListStatusData | async).$value==5">
    <h3>Subtotal: {{ (subtotal | async).$value | currency:'USD':true}}</h3>
    <h3>Tip: {{ (tip | async).$value | currency:'USD':true}}</h3>
    <h3>Total: {{ total | currency:'USD':true}}</h3>
    <hr>

    <br>

    <ion-grid *ngIf="!hasReviewed">
      <ion-row align-items-center justify-content-center>
        <h1>Leave a review</h1>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <textarea rows="4" placeholder="Write a review..." style="width: 100%" [(ngModel)]="tempReview"></textarea>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <rating [(ngModel)]="tempRating" [float]="true"></rating>
        <span id="rating-num">{{tempRating | number : '1.1-1'}} / 5.0</span>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <button ion-button (click)="submitReview()">Submit</button>
      </ion-row>
      <ion-row align-items-center justify-content-center>
        <span style="color:red">{{reviewError}}</span>
      </ion-row>
    </ion-grid>
    <h1 *ngIf="hasReviewed">Review Submitted!</h1>


  </div>

</ion-content>
