<ion-content padding>

  <input #fileInput id="fileInput" type="file" (change)="photoSelected($event)" style="display:none">

  <div class="icons">
    <ion-icon *ngIf="!editing;else editingIcons" name="create" (click)="edit()"></ion-icon>
    <ng-template #editingIcons>
      <ion-icon name="close-circle" (click)="cancel()"></ion-icon>
      <button [disabled]="!user || user.phone.length != 14 || user.address.length <= 0" (click)="save()"><ion-icon name="checkmark-circle"></ion-icon></button>
    </ng-template>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col text-center id="Profile">
        Profile
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-auto>
        <div class="profile-img">
          <div class="spinner-img">
            <ion-spinner></ion-spinner>
            <p>Uploading...</p>
          </div>
          <img *ngIf="photo && !loadingImage && tempPhotoUrl" class="profile-img" [src]="tempPhotoUrl" alt="Missing Photo" (click)="promptForPicture(fileInput)">
          <img *ngIf="(!photo && !loadingImage && user && user.image) as imageUrl; else missingPhotoTemplate" class="profile-img" [src]="imageUrl"
            alt="Missing Photo" (click)="promptForPicture(fileInput)">
          <img *ngIf="(!photo && !loadingImage && (!user || !user.image))" class="profile-img" src="assets/images/missing_photo.png"
            alt="Missing Photo" (click)="promptForPicture(fileInput)">
        </div>
      </ion-col>
      <ion-col>
        <p>{{user?.name}}</p>
        <p>{{user?.phone}}</p>
        <p>{{user?.address}}</p>
      </ion-col>
    </ion-row>

    <div *ngIf="editing;else ratings" class="edit">
      <ion-row align-items-center>
        <ion-col col-auto>Address:</ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="Address" class="form-control" [(ngModel)]="user.address" name="address" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-auto>Phone #:</ion-col>
        <ion-col>
          <ion-item>
            <ion-input id="phone" type="tel" placeholder="(555) 555-5555" class="form-control" [(ngModel)]="user.phone" name="phone"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-auto>Profile Image:</ion-col>
        <ion-col>
          <button ion-button (click)="promptForPicture(fileInput)">Choose</button>
          <button type="button" ion-button color="danger" *ngIf="photo && !loadingImage && tempPhotoUrl" (click)="resetPhoto()">reset Photo</button>
        </ion-col>
      </ion-row>
    </div>

    <ng-template #ratings>
      <ion-card (click)="displayReviews('buyer')">
        <ion-row align-items-center style="margin-top: 20px;">
          <ion-col>
            <h3 style="text-decoration: underline">Buying</h3>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <rating [(ngModel)]="user && user.buyerRating" [float]="true" [readonly]="true">
            </rating>
          </ion-col>
          <ion-col col-auto>
            {{user?.buyerRating | number : '1.1-1'}} ({{user?.buyerTotal}} ratings)
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card (click)="displayReviews('shopper')">
        <ion-row align-items-center>
          <ion-col>
            <h3 style="text-decoration: underline">Shopping</h3>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <rating [(ngModel)]="user && user.shopperRating" [float]="true" [readonly]="true">
            </rating>
          </ion-col>
          <ion-col col-auto>
            {{user?.shopperRating | number : '1.1-1'}} ({{user?.shopperTotal}} ratings)
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-template>
  </ion-grid>
</ion-content>
