.profile-img {
    width: 100px !important;
    height: 100px !important;
}

.spinner-img {
    width: 100px !important;
    height: 100px !important;
    text-align: center;
    ion-spinner {
        height: 50px;
        width: 50px;
    }
    p {
        position: absolute;
        bottom: 0px;
    }
}

.icons {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1;
    * {
        font-size: 40px;
    }
}

#Profile {
    font-size: 40px;
    font-weight: bold;
}